*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: #d28d0b;
}    

nav .logo {
  float: left;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

    
nav .list {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .list li {
  list-style: none;
}

nav .list a {
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

nav .list a:hover {
  border-bottom: 3px solid #000;
}

#toggle {
  position: absolute;
  top: -100px;
}

nav .icon-bars {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-bars .line {
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media (max-width:768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .list {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all .5s ease-in-out;
  }

  nav .list a {
    font-size: 20px;
  }

  nav :checked ~ .list {
    bottom: 0;
  }

  nav .icon-bars {
    display: block;
  }
}

body {
  background-color: black; 
}

.body_style {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
 }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px; 
}

.navbar_style ul li a:hover {
  color: #025373 !important;
  border-bottom: 1px solid white; 
}

.navbar-nav .nav-link {
  color: white !important;
 }
 

.footer_style {
  background-color: #d28d0b;
  color: white;
  font-size: 10px;
 }

.footer_style a {
  margin: 2%; 
}

  .iconos img {
    font-size: 20px;
    width: 30px;
    align-self: center;
    float: right;
    margin: 15px;
  }
  



/* TOUR*/
.list-group-item {
  background-color: black;
  font-size: 20px; 
}

.btn-primary {
  background-color: #d28d0b !important; }

.btn-primary:hover {
  background-color: #d28d0b !important;
  transition: 0.5s; 
}

/* GALERIA */
.obj_flex {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
 }

.obj_flex iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
 }

/* CONTACTO */
.contact_main {
  display: flex;
  flex-direction: row;
  width: 100%;
 }

  .contact_main .contacto_text {
    width: 60%;
    margin: 20px; 
  }

  .contact_main .contact_form {
    width: 40%;
    padding: 20px; 
  }
